<a href="https://colab.research.google.com/github/rayjinghaolei/CBA_python_class/blob/master/Lecture_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Install python 3

https://www.python.org/downloads/

https://www.microsoft.com/en-ca/search?q=python

# Running Your first Python program!

Python can be used as an interactive intepretor

5 ** 3 only does computation but the result is not stored

In [4]:
5 ** 3

125

But if you assign it into a variable, then you can assess it later when calling this variable

This seperate colon is there just to demonstrate the functionality of the print function: it can deal with multiple stuff that you want to output using comma

In [5]:
a = 5 ** 3
print('a has the value',': ', a)

a has the value :  125

# Single line comments and multiple line comments

In [ ]:
# This is a single line of comments
'''
This is a multiple line comments
it is using three ' s
You can write any thing that might help others to understand your code
'''
print('This is a line of code that will be actually ran')
# print('This line is commented out using single line comment')
# commenting things out is a basic way to debug your program

This is a line of code that will be actually ran

# Variables
You might have studied different types of variables in other languages, those types are very similar in Python.

But, when declearing a variable, there is no type specifier in front of the variable.

Unlike in language like java or C (which you would do:

```
int a = 1;
```
in python you will just do 


```
a = 1
```

type() function returns the type of the variable

In [ ]:
a = 1
print(a)
print(type(a))
a = 'a'
print(a)
print(type(a))

1
<class 'int'>
a
<class 'str'>

# Constants

In [6]:
CONSTANT_PI = 3.14
print(CONSTANT_PI)

3.14

# Print function
https://www.w3schools.com/python/ref_func_print.asp



```
print(object(s), sep=separator, end=end, file=file, flush=flush)
```

In [10]:
username = 'Ray'
age = 21

print('username:', username, 'age:', age, sep='|',end='\n')

username:|Ray|age:|21

# Variable Naming Convention
1. a variable can be name using alphabets, numbers and underscores (ABC_123)
2. cannot be a keyword in python, but you can include keywords ('if' is a keyword, but you can name a variable called whatif)
3. space is not allowed (variable name: NOT Allowed is not allowed as a variable )

In [13]:
ABC_123 = 'a string'
whatif = 'what if it happened'
#NOT ALLOWED = 'not allowed'
isAllowed = 'allowed'
iAmTwentyYearOld = True
i_am_twenty_year_old = True

To check the list of keyword:

In [ ]:
import keyword
keyword.kwlist

['False',
 'None',
 'True',
 'and',
 'as',
 'assert',
 'async',
 'await',
 'break',
 'class',
 'continue',
 'def',
 'del',
 'elif',
 'else',
 'except',
 'finally',
 'for',
 'from',
 'global',
 'if',
 'import',
 'in',
 'is',
 'lambda',
 'nonlocal',
 'not',
 'or',
 'pass',
 'raise',
 'return',
 'try',
 'while',
 'with',
 'yield']

### Internal functions: (do not create functions with name like those)

https://docs.python.org/3/library/functions.html

# Variable types
## Integers

No upper limit

In [14]:
a = 1
print(a)
print(type(a))
a = 99999999999999999999999999999
print(a)
print(type(a))

1
<class 'int'>
99999999999999999999999999999
<class 'int'>

integers in different bases

In [16]:
#hexadecimal, base 16 0123456789ABCDEF
hex = 0xA
print(hex)
print(type(hex))

#binary, base 2
bin = 0b111
print(bin)
print(type(bin))

#Octal, base 8
oct = 0o17
print(oct)
print(type(oct))

10
<class 'int'>
7
<class 'int'>
15
<class 'int'>

Readbility

In [18]:
# 1,000,000
million = 1_000_000
print(million)
print(type(million))

1000000
<class 'int'>

## Float / Floating point number

In [19]:
f1 = 3.1415
print(f1)
print(type(f1))
# 3.12e4 = 3.12 * 10 ^ 4
f2 = 3e4
print(f2)
print(type(f2))

3.1415
<class 'float'>
30000.0
<class 'float'>

## String

In [22]:
str1 = 'one string'
print(str1)
str2 = "another string"
print(str2)
#str3 = 'I'm a coder'
str4 = 'I\'m a coder'
print(str4)
str5 = "I'm a coder"
print(str5)

str6 = str1 + ' and ' + str2
print(str6)

one string
another string
I'm a coder
I'm a coder
one string and another string

In [25]:
#str7 = str1 + 'means' + 1 + 'string'
str7 = str1 + ' means ' + '1' + ' string'
print(str7)

one string means 1 string

## Booleans

In [28]:
right = True
print(right)
print(type(right))
print(right == 1) #right == 1   ===  right
wrong = False
print(wrong)
print(wrong == 0)

True
<class 'bool'>
True
False
True

# User input

In [31]:
msg = input('input a message: ') # try string, int, float
print(msg)
print(type(msg))

input a message: 3.14
3.14
<class 'str'>

In [34]:
aNumber = input('please input a number: ')
aNumber = int(aNumber)
print(aNumber)
print(type(aNumber))

please input a number: 3
3
<class 'int'>